<div class="container">
    <div class="carrito">
        <h2>TU CARRITO</h2>
        <p class="anular" (click)="removeAllProduct()">Anular todos los articulos</p>
        <hr>
        <ul class="productos">

            <li class="productosBuy" *ngFor="let product of prodFiltrados">
                <div class="row  align-items-center">
                    <div class="col-2">
                        <img [src]="product.image" alt="">
                    </div>
                    <div class="col-10">
                        <h3>{{ product.name }}</h3>
                        <p [ngStyle]="{ 'color': 'brown' }">{{ product.price | currency: 'EUR'}}</p>
                        <p>Category: {{ product.category }}</p>

                        <div class="row quantity">
                            <p class="col-3">Quantity of products: {{ product.quantity }}</p>
                            <div class="col-9 buttonsQuant">
                                <button type="button" class="btn btn-danger btn-sm" (click)="addProduct(product._id)"> +
                                </button>

                                <button type="button" class="btn btn-danger btn-sm"
                                    (click)="removeProduct(product._id)"> - </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="linea-divis">
            </li>
        </ul>
    </div>
</div>