<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home" href="home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLink="/products">
                    <a class="nav-link">All products</a>
                </li>
                <li class="nav-item" routerLink="/products/clothes">
                    <a class="nav-link" href="products/clothes">Clothes</a>
                </li>
                <li class="nav-item" routerLink="/products/shoes">
                    <a class="nav-link" href="products/shoes">Shoes</a>
                </li>
                <li class="nav-item" routerLink="/products/complements">
                    <a class="nav-link" href="products/complements">Complements</a>
                </li>
            </ul>

            <ul class="navbar-nav justify-content-end">

                <li class="nav-item" routerLink="/contact-us">
                    <a class="nav-link" href="contact-us">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-user"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li routerLink="/login"><a class="dropdown-item" href="login">Login</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li routerLink="/register"><a class="dropdown-item" href="register">Register</a></li>

                    </ul>
                </li>
            </ul>


            <form class="d-flex" role="search">
                <input class="form-control mx-4" type="search" placeholder="Search Product" aria-label="Search"
                    #searchInput (input)="productSrv.getProductsSearch(searchInput.value)">
            </form>
            <li routerLink="/shopping-cart"><a class="nav-link"><i class="fa-solid fa-cart-shopping"
                        style="color: #74C0FC;"></i></a>
            </li>


        </div>
    </div>
</nav>