<div class="products">

    <div class="product" [routerLink]="['/product', product._id]" *ngFor="let product of arrProducts let index"
        [ngClass]="{
                    'product-niño': product.category === 'niño',
                    'product-hombre': product.category === 'hombre',
                    'product-mujer': product.category === 'mujer'
                }">
        <div class="title">
            <h3>{{product.name}}</h3>
            <!-- <p>Available : {{product.active}}</p> -->
        </div>

        <div class="row">
            <div class="imag" class="col-8">
                <img src="{{product.image}}" alt="">
            </div>
            <div class="price col-3 m-1">
                <div *ngIf="product.active; else notAvailable" class="row click">
                    <button class="btn btn-info" (click)="selectProduct(product._id); $event.stopPropagation();">BUY
                        PRODUCT</button>
                    <span class="click-counter">{{ clickCounts[product._id] || 0 }} </span>
                </div>
                <div class="row click">
                    <ng-template #notAvailable>
                        <p id="not-available">Product not available</p>
                    </ng-template>
                </div>
                <div class="row">
                    <p>{{product.price | currency: 'EUR'}} </p>
                </div>
            </div>

        </div>

    </div>

</div>